PYTHONPATH=/home/whcui/brainstorm_project/brainstorm/3rdparty/tvm/python
LD_LIBRARY_PATH=/home/whcui/brainstorm_project/install/lib
LIBRARY_PATH=/home/whcui/brainstorm_project/install/lib
BRT_CACHE_PATH=/home/whcui/brainstorm_project/brainstorm/.cache