[submodule "3rdparty/vision_transformer"]
	path = 3rdparty/vision_transformer
	url = https://github.com/google-research/vision_transformer.git
	branch = main
[submodule "3rdparty/vmoe"]
	path = 3rdparty/vmoe
	url = https://github.com/google-research/vmoe.git
	branch = main
[submodule "3rdparty/flax"]
	path = 3rdparty/flax
	url = https://github.com/google/flax.git
	branch = main
[submodule "3rdparty/jax"]
	path = 3rdparty/jax
	url = https://github.com/google/jax.git
	branch = main
[submodule "3rdparty/optax"]
	path = 3rdparty/optax
	url = https://github.com/deepmind/optax.git
	branch = master
[submodule "3rdparty/dynamic_routing"]
	path = 3rdparty/dynamic_routing
	url = https://github.com/Megvii-BaseDetection/DynamicRouting.git
	branch = master
[submodule "3rdparty/multi_scale"]
	path = 3rdparty/multi_scale
	url = https://github.com/kalviny/MSDNet-PyTorch.git
	branch = master
[submodule "3rdparty/skipnet"]
	path = 3rdparty/skipnet
	url = https://github.com/ucbdrive/skipnet.git
	branch = master
[submodule "3rdparty/dee_bert"]
	path = 3rdparty/dee_bert
	url = https://github.com/castorini/DeeBERT.git
	branch = master
[submodule "3rdparty/dynamic_vit"]
	path = 3rdparty/dynamic_vit
	url = https://github.com/raoyongming/DynamicViT.git
	branch = master
[submodule "3rdparty/tvm"]
	path = 3rdparty/tvm
	url = https://github.com/apache/tvm.git
	branch = main
[submodule "3rdparty/clu"]
	path = 3rdparty/clu
	url = https://github.com/google/CommonLoopUtils.git
	branch = main
[submodule "3rdparty/fastmoe"]
	path = 3rdparty/fastmoe
	url = https://github.com/laekov/fastmoe.git
	branch = master
[submodule "3rdparty/tutel"]
	path = 3rdparty/tutel
	url = https://github.com/microsoft/tutel.git
	branch = v0.1.x
