[submodule "3rdparty/tutel"]
	path = 3rdparty/tutel
	url = https://github.com/microsoft/tutel.git
	branch = v0.1.x
[submodule "3rdparty/tvm"]
	path = 3rdparty/tvm
	url = https://github.com/Apache/tvm.git
	branch = main
[submodule "3rdparty/nnfusion"]
	path = 3rdparty/nnfusion
	url = https://github.com/Raphael-Hao/nnfusion.git
	branch = cmake_fix
