*.onnx
*.pt
core
!core/
*.pkl_memoize_py3
total_latency.tsv
*.qdrep
*.svg
*.csv
benchmark/swin_moe/results
docker/id_*

.cache/*
.cache/kernel_db.sqlite
.cache/kernel_db1.sqlite
.cache/kernel_db2.sqlite


!.cache/log/
.cache/log/*
!.cache/log/kernel_tune/
!.cache/log/benchmark/
!.cache/dataset
!.cache/ckpt

.vscode

docker/config.yaml

# Local History for Visual Studio Code
.history/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
*.o

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*
benchmark/dynamic_routing/inference/*
benchmark/dynamic_routing/log.txt
3rdparty/dynamic_routing/datasets/*
!3rdparty/dynamic_routing/datasets/README.md
benchmark/msdnet/*.pth
benchmark/msdnet/*.txt
benchmark/msdnet/saveresult
*.nsys-rep

*.npy
*.npy.npz
